:root{
 --blanco: #ffffff;
 --oscuro: #03053a;
 --primario: #0077b6;
 --secundario: #187e29;;
 --gris: #e9ecef;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;/*1 rem = 10px*/
    font-family: 'Krub',sans-serif;
    background-image: linear-gradient(to top,var(--gris) 0%,var(--blanco) 100%);
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.6rem;
}
h1,h2,h3{
    text-align: center;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(196,186,196,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(196,186,196,0.54);
    box-shadow: 0px 5px 15px 0px rgba(196,186,196,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo{
    color: var(--primario);
}

.titulo span{
    font-size: 2rem;
    color: var(--secundario);
}

.contenedor{
    width: 75%;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    
}

.navegacion-principal a:hover{
    background-color: var(--primario);
}

.hero{
    background-image: url(../img/hero-1024x683.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
    
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}

.informacion{
    display: flex;
    align-items: center;
}


@media (min-width: 768px) {
    .micontenido{
        display: grid;
        /*grid-template-columns: 33% 33% 33%;*/
        /*grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}


.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.micontenido{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

@media (min-width:768px) {
    .micontenido{
        flex-direction: row;
    }
}


.contenido h3{
    font-weight: normal;
    color: var(--secundario);

}

.contenido p{
    font-size: 1.5rem;
    line-height: 2;                                  
    text-align: center;
}

.contenido .icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


@media (min-width:768px) {
    .micontenido .icono{
        flex-direction: row;
    }
}

.contenedor {
    display: flex;
    flex-wrap: wrap;   /* PERMITE QUE LOS ELEMENTOS BAJEN */
    justify-content: center;
    gap: 40px;
}

